<h2 id='house_member_count'><%= search_results.member_count %> Results</h2>
<% search_results.members.each do |character| %>
  <ul class="character">
    <h4 class="name"><%= character.name %></h4>
    <p class="role"><%= character.role %></p>
    <p class="house"><%= character.house %></p>
  </ul>
<% end %>